body {
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 12px;
  color: #554;
  margin: 0px;
  height: 80%;
}

#error {
  font-family: Courier;
  color: red;
  width: 600;
}

textarea#plainText {
  width: 500px;
  height: 300px;
  font-family: Courier;
  font-size: 12px;
  padding: 10px;
  margin-top: 40px;
  border: #eee solid 10px;
}

#containerDiv{
    float:left;
    width:600;
}